.todo-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
} 

.todo-item {
  width: 300px;
  height: 150px;
  box-shadow: 0 6px 20px -10px black;
  text-align: center;
} 

.urgent {
  box-shadow: 0 6px 20px -10px red;
} 

.delete {
  background-color: red;
  color: white;
}